[margined-box] {
    margin: 16px;
}

[center-text] {
    text-align: center;
}

[pam-Alert] > :first-child:not(p) {
    font-size: inherit;
}

[msg] {
    margin-top: 10px;
}

[msg-name] {
    color: black;
}

[msg-time] {
    font-size: 14px;
}

[msg-content] {
    margin-top: 4px;
}
